body {
  font-family:	sans-serif;
  color:	#333;
}

a {
  color:		#800;
  text-decoration:	none;
}

a:hover {
  text-decoration:	underline;
}

.red {
  color:	#933;
}

#path {
  margin:	0;
  padding:	0;
}

#path li {
  display:		inline;
  margin:		0 0.2em;
  padding:		0 1em;
  border:		1px #eee solid;
  border-radius:	1em;
  background:		#ccc url('../ui/down-fade.png') right bottom repeat-x;
}

a img {
  border:	0;
}

#head {
  height:	200px;
}

#head img {
  float:	left;
}

table thead {
  display:	none;
}

#files {
  width:		80%;
  margin:		0 auto;
  border-collapse:	collapse;
}

#files tbody td {
  padding:	5px;
}

#files tbody td:nth-child(1) {
  width:	20px;
}

#files tbody td:nth-child(3) {
  width:	90px;
  text-align:	right;
}

#license {
  border-top:	1px #aaa solid;
  margin-top:	1em;
  text-align:	center;
}

#licensedetail {
  display:	none;
}

.uielement {
  display:		none;
  background:		#412e49 url('../ui/uie-top.png') top left repeat-x;
  position:		fixed;
  color:		#fff;
  border-radius:        1em;
  padding:		1em;
  box-shadow:		1em 1em 2em #888;
}

#message {
  cursor:	pointer;
}

.uielement .close {
  float:	right;
}

#info {
  position:	fixed;
  width:	30em;
  height:	24em;
  top:		50%;
  left:		50%;
  margin-top:	-12em;
  margin-left:	-15em;
}

#info tbody td {
  word-break:		break-all;
}

#info tbody td:first-child {
  font-weight:		bold;
  width:		8em;
  vertical-align:	top; 
}

#fileover {
  top:			2em;
  right:		2em;
  border-radius:	1em;
}
#uploads {
  width:	90%;
}

#uploads .close {
  position:	absolute;
  top:	1em;
  right:	1em;
}

#uploads li {
  list-style-type:	none;
}

#messages {
  top:			0;
  left:			50%;
  padding:		0.2em 1em;
  width:		40em;
  margin-left:		-20em;
  border-radius:	0 0 0.5em 0.5em;
}
