<!DOCTYPE html>
<html>
	<head>
		<title>PirateJoggler</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/static/css/themes/default.css" media="screen" />
		<link rel="shortcut icon" href="/static/favicon.png">
		<script src="/static/js/jquery-1.5.min.js" type="text/javascript"></script>
		<script src="/static/js/filedrop/jquery.filedrop.js" type="text/javascript"></script>
		<script type="text/javascript">
$(document).ready(function() {
	messagebox = $('#message');
	if (messagebox.text().trim() != "") {
		messagebox.show();
	}

	$('#message').click(function () {
		$(this).fadeOut();
	});

	$('body').filedrop({
		paramname: 'file',
		error: function(err, file) {
			switch(err) {
				case 'BrowserNotSupported':
					alert('browser does not support html5 drag and drop')
	             			break;
				case 'TooManyFiles':
					// user uploaded more than 'maxfiles'
		 			break;
				case 'FileTooLarge':
					// program encountered a file whose size is greater than 'maxfilesize'
					// FileTooLarge also has access to the file which was too large
					// use file.name to reference the filename of the culprit file
					break;
				default:
					break;
			}
		},
		maxfiles: 50,
		maxfilesize: 2048,	//MB
		dragOver: function() {
			$('#fileover').show();
		},
		dragLeave: function() {
			$('#fileover').hide();
		},
		uploadStarted: function(i, file, len){
			$('body').css('cursor', 'progress');
		},
		uploadFinished: function(i, file, response, time) {
			$('#fileover').hide();
			$('body').css('cursor', 'auto');
		},
		progressUpdated: function(i, file, progress) {
			// update the download panel
		},
		speedUpdated: function(i, file, speed) {
			// update download panel
		}
	});
});

function display_message (message) {
	messagebox = $('#message')
	messagebox.find('p').text(message);
	messagebox.show();
}

function get_info (uname) {
	$.getJSON(uname,
		'info',
		function (data) {
			var table = $('#info tbody');
			table.empty();
			function make_row (key, val) {
				var tr = $('<tr></tr>');
				tr.append($('<td>' + key + '</td>'));
				tr.append($('<td>' + val + '</td>'));
				return tr;
			};
			table.append(make_row('Unique name', data['unique_name']));

			var added_date = new Date(data['created'] * 1000);
			table.append(make_row('Added', added_date.toLocaleDateString() + " at " + added_date.toLocaleTimeString()));

			var filesize = Math.floor(data['size'] / 1024);
			table.append(make_row('File size', filesize + 'KB'));

			table.append(make_row('Safe', data['safe']));
			table.append(make_row('sha1', data['hashes']['sha1']));
			table.append(make_row('sha512', data['hashes']['sha512']));
			table.append(make_row('md5', data['hashes']['md5']));

			$('#info').show();
		});
}

function toggle_safe (file_path, safe_img) {
	$.getJSON(file_path,
		'safe',
		function (data) {
			if (data['success']) {
				safe_img.toggle();
			}
			else {
				display_message(data['message']);
			}
		});
}

function update_filelist () {
	// get list of files and folders
	// check for admin
	// clear down table
	// create objects containing said files and folders
	// add entries to table
}
		</script>
	</head>
	<body>
		<div id="fileover" class="uielement">
			<img src="/static/ui/file-hover.png" alt="drop file" title="Drop file" />
		</div>
		<div id="info" class="uielement">
			<a href="#" onclick="$(this).parent().hide()" class="close" ><img src="static/ui/close-small.png" /></a>
			<h2>Info</h2>
			<table>
				<thead>
					<tr>
						<th>Key</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="uploads" class="uielement">
			<a href="" class="close"><img src="/static/ui/close-small.png" alt="close" title="Close" /></a>
			<ul>
				<li>
					<h3>file.txt</h3>
					<div class="progessbar">
						<div class="progress">&nbsp;</div>
					</div>
					<span class="percent">0%</span>
					<span class="speed">0kbs</span>
					<button>Cancel</button>
				</li>
			</ul>
		</div>
		<div id="message" class="uielement">
			<p>{{ message }}</p>
		</div>
		</div>
		<div id="container">
			<div id="head">
				<img src="/static/logo.png" alt="Pirate Joggler Logo" alt="Pirate Joggler Logo" title="Pirate Joggler" />
				<h1>Pirate<span class="red">Joggler</span></h1>
				<h2>Path:</h2>
{% include 'path.html' %}
			</div>
			<table id="files">
				<caption>Items within this directory:</caption>
				<thead>
					<tr>
						<th>type</th>
						<th>filename</th>
						<th>controls</th>
					</tr>
				</thead>
				<tbody>
{% for folder in folders %}
					<tr>
						<td><img src="/static/ui/folder.png" alt="file" title="Folder" /></td>
						<td><a href="{{ folder }}/">{{ folder }}</a></td>
						<td>
{% include 'folder-buttons.html' %}
						</td>
					</tr>
{% endfor %}
{% for file in files %}
					<tr>
						<td><img src="/static/ui/file.png" alt="file" title="File" /></td>
						<td><a href="{{ file['file_name'] }}">{{ file['file_name'] }}</a></td>
						<td>
{% include 'file-buttons.html' %}
						</td>
					</tr>
{% endfor %}
				</tbody>
			</table>
			<div id="license">
{% include 'license.html' %}
			</div>
		</div>
	</body>
</html>
